h1 Table Page

p This is the table page

p The selected table is {{'table ' + table.tableId}}

form#add-entry(ng-submit='addEntry()')
	table#data-table
		thead
			td Date
			td Category
			td Description
			td Name
			td Amount			
		tbody
			tr(ng-repeat='entry in entries')
				td {{entry.date | date: 'medium'}}
				td {{entry.category}}
				td {{entry.desc}}
				td {{entry.userId}}
				td {{entry.amount}}
			tr.add-entry-row(ng-hide='isEditMode')
				td(colspan='5')
					a(href='', ng-click='toggleAddForm()') Click to add
			tr.entry-form-row(ng-show='isEditMode')
				td
					input(type='date', class='input-transparent')
				td
					input(type='text', class='input-transparent')
				td
					input(type='text', class='input-transparent')
				td
					input(type='text', class='input-transparent')
				td
					input(type='text', class='input-transparent')
					input(type='submit', class='hidden')