h1 Listing Page

p This is the listing page

ul(ng-if='pageStatus == 200')
	li(ng-repeat='table in tables')
		a(href='tables/{{table._id}}')
			h3 {{table.name}}
		p {{table.desc}}


// Not found
div(ng-if='pageStatus == 404')
	h1 Not found


// Loading
div(ng-if="pageStatus == 'loading'", class='bg-loading')
	img(src='img/min/icon-cloud.png', class='img-loading', width='200', height='200')
	p Loading...