h1 Table Page

p This is the table page

//pre form = {{newEntry | json}}

form#add-entry(ng-if='pageStatus == 200', ng-submit='addEntry(newEntry)')
	table#data-table
		thead
			th
			th(ng-click="sortOrder='date'; reverse=!reverse") Date
			th(ng-click="sortOrder='category'; reverse=!reverse") Category
			th(ng-click="sortOrder='desc'; reverse=!reverse") Description
			th(ng-click="sortOrder='paidBy'; reverse=!reverse") Name
			th(ng-click="sortOrder='amount'; reverse=!reverse") Amount			
		tbody
			tr(class='entry-row', ng-repeat='entry in entries | orderBy:sortOrder:reverse')
				td(style='border-right: 1px solid #ddd;padding:2px;text-align:center;') {{$index+1}}
				td {{entry.date | date: 'dd/MM/yyyy'}}
				td {{entry.category}}
				td {{entry.desc}}
				td {{entry.paidBy}}
				td(contenteditable='true') {{entry.amount | currency: '€'}}
			tr.add-entry-row(ng-hide='isEditMode')
				td(colspan='5')
					a(href='', ng-click='toggleAddForm()') Click to add
			tr.entry-form-row(ng-show='isEditMode')
				td
				td
					input(type='date', class='input-transparent', ng-model='newEntry.date')
				td
					input(type='text', class='input-transparent', ng-model='newEntry.category')
				td
					input(type='text', class='input-transparent', ng-model='newEntry.desc')
				td
					input(type='text', class='input-transparent', ng-model='newEntry.paidBy')
				td
					input(type='text', class='input-transparent', ng-model='newEntry.amount')
					input(type='submit', class='hidden')
			tr.totals-row
				td
				td
				td
				td
				td
				td {{totalAmount() | currency: '€'}}

// Table not found
div(ng-if='pageStatus == 404')
	h1 Not found


// Loading
div(ng-if="pageStatus == 'loading'", class='bg-loading')
	img(src='img/min/icon-cloud.png', class='img-loading', width='200', height='200')
	p Loading...