extends layout

block body

	header
		nav#main-nav.group
			section#logo
				a(href='/') logo
			ul
				li.nav-item: a(href='/tables') tables
				li.nav-item: a(href='/signup') signup
				li.nav-item: a(href='/login') login

	section#main
		div(ng-view)

	footer

	script(src='/angular/angular.js')
	script(src='/angular-route/angular-route.js')
	script(src='/moment/moment.js')
	script(src='/js/main.js')