doctype html
html(ng-app="budgetApp")
	head
		meta(charset='utf8')
		base(href='/')
		title= title
		link(rel='stylesheet', href='/styles/style.css')
		script(src="//use.edgefonts.net/source-sans-pro:n2,i2,n3,n4,n6,n7,i7.js")
	body
		block body