@import "includes/settings";
@import "includes/animations";
@import "includes/icons";

/*********************************************
 BASE TAGS
 ********************************************/
* {
	margin: 0;
	padding: 0;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: $backgroundColor;
	font-size: 16px;
	font-weight: 200;
	font-family: 'source-sans-pro','lato',Arial,sans-serif;
}
h1,h2,h3,h4,h5 {
	font-weight: 100;
	font-family: 'source-sans-pro','lato',Arial,sans-serif;
	margin: 20px 0;
}
p {
	margin-bottom: 1em;
}
a {
	color: $secondaryColor;
}
input {
	font-size: 16px;
	font-weight: 200;
	font-family: 'source-sans-pro','lato',Arial,sans-serif;
}

/*********************************************
 UTILITY
 ********************************************/
.group:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
	display: none;
}
.input-transparent {
	border: 0 none;
	&:focus {
		outline: none;
	}
}
ul.unstyled {
	list-style: none;
}
.strong {
	font-weight: 300;
}
a.plain {
	text-decoration: none;
}
.inline {
	display: inline;
}
.color-2-text {
	color: $secondaryColor;
}
.color-2 {
	background-color: $secondaryColor;
}
/*********************************************
 COMMON
 ********************************************/
#main-nav { 
	border-top: 4px solid $primaryColor;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 15px 50px;
	ul {
		list-style: none;
		float: right;
	}
}
#logo {
	display: inline-block;
	float: left;
	font-weight: 100;
	font-size: 28px;
	color: #666;
	a {
		text-decoration: none;
		color: #666;
	}
}
.nav-item {
	display: inline-block;
	text-align: right;
	a {
		min-width: 80px;
		display: inline-block;
		text-decoration: none;
		line-height:40px;
	}
}

#main {
	margin: 20px 50px;
}

.bg-loading {
	text-align: center;
	opacity: 0.5;
}
.img-loading {
	margin: 0 auto;
	opacity: 0.2;
	-webkit-animation: throb 3s infinite; /* Safari 4+ */
	-moz-animation:    throb 3s infinite; /* Fx 5+ */
	-o-animation:      throb 3s infinite; /* Opera 12+ */
	animation:         throb 3s infinite; /* IE 10+, Fx 29+ */
}
a.plain-link {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
a.icon-link {
	display: inline-block;
	margin: 0 5px;
}
/*********************************************
 TABLES
 ********************************************/
.details-area {
	display: inline-block;
	float: left;
}
.edit-area {
	display: inline-block;
	float: right;
}


/*********************************************
 TABLE
 ********************************************/
#data-table {
	border-collapse: collapse;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
	width: 800px;
	thead {
		border-bottom: 1px solid #ddd;
		th {
			font-weight: 300;
			cursor: pointer;
			padding: 3px 10px;
			text-align: left;
		}
	}	
}
.entry-row:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
td {
	padding: 2px 10px;
}
.add-entry-row {
	border-top: 1px solid #ddd;
	text-align: center;
	td {
		padding: 5px;
	}
	a {
		color: #999;
		text-decoration: underline;
	}
}
.entry-form-row {
	border-top: 1px solid #ddd;
	text-align: center;
	td {
		padding: 2px 10px;
	}
	a {
		color: #999;
		text-decoration: underline;
	}
	input {
		width: 100%;
	}
}
.totals-row {
	//border-top: 1px solid #ddd;
}
